article {
  background-color: #fff;
  border-radius: 8px;
}
.thumnail img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    height: 256px;
   
}

.post_content {
    padding: 16px;

}
.post_content a {
    color: #564e4e;
    
}
.post_content  p {
    color: #9d9394;
}

.post_meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.post_meta  .category {
    padding: 4px 12px;
    background-color: #f8f7f7;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    text-align: center;
    text-transform: capitalize;
}